html, body, .fill-height {
  height: 100%;
}

body{
  background: url("./images/betties-faded.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  opacity: .9;
  background-color: #F2F2F2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#loadingBox{
  margin: 10% auto auto auto;
  padding: 1%;
  width: 400px;
  background-color: blueviolet;
  color: black;
  text-align: center;
  border: 1px solid black;
}

.left-box{
  background-color: lightgrey;
  opacity: .9;
  height: 100%
}

.right-box{
  background-color: white;
  opacity: .9;
  height: 100%
}

.poppy{
  font-size: 1.2em;
}

@media (max-width: 767px) {
  .right-box{
      min-height: 600px;
  }
}

.bout:hover {
  color: red;
}

.in-role{
  color:green;
}
.not-in-role{
  color: black;
}

.role-glyph{
  text-align: center;
  font-size: 2em;
  border: 1px solid black;
  border-bottom: 0;
}
.role-label{
  text-align: center;
  border: 1px solid black;
  border-top: 0;
}

.timeWarning{
  color: orange;
}

.timeAlert{
  color: red;
}

button.selected{
  background-color: lightblue;
}

button:disabled{
  color: gray;
  background-color: darkgray;
}

/* Lineup Tracker */

.lineups-number{
  font-size: 1.5em;
}

.lineups-name{
  font-size: 1.2em;
  padding: 12px;
}


/* Scoreboard */
#scoreboard-box{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.team-name{
  color: white;
  font-size: 5em;
  text-align: center;
}

.timeout-wrapper{
  border-radius: 25px;
  background-color: grey;
  text-align: center;
}

.timeout{
  font-size: 5em;

}

.team-score-wrapper{
  border-radius: 25px;
  background-color: grey;
  text-align: center;
}

.team-score{
  font-size: 20em;
}

.jam-score-wrapper{
  border-radius: 25px;
  background-color: grey;
  text-align: center;
}

.jam-score{
  font-size: 10em;
}

.jammer{
  font-size: 5em;
}

.stat-box{
  border-radius: 25px;
}

.stat-label{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color:white;
  background-color: grey;
  font-size:5em;
}

.stat-text{  
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;
  background-color: lightgray;
  font-size: 12em;
  text-align: center;
}