
html, body, .fill-height {
  height: 100%;
}

body{
  background: url("./images/betties-faded.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #F2F2F2;
  opacity: .9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#loadingBox{
  margin: 10% auto auto auto;
  padding: 1%;
  width: 400px;
  background-color: blueviolet;
  color: black;
  text-align: center;
  border: 1px solid black;
}

.left-box{
  background-color: lightgrey;
  opacity: .9;
  height: 100%
}

.right-box{
  background-color: white;
  opacity: .9;
  height: 100%
}

.poppy{
  font-size: 1.2em;
}

@media (max-width: 767px) {
  .right-box{
      min-height: 600px;
  }
}

.bout:hover {
  color: red;
}

.in-role{
  color:green;
}
.not-in-role{
  color: black;
}

.role-glyph{
  text-align: center;
  font-size: 2em;
  border: 1px solid black;
  border-bottom: 0;
}
.role-label{
  text-align: center;
  border: 1px solid black;
  border-top: 0;
}

.timeWarning{
  color: orange;
}

.timeAlert{
  color: red;
}

button.selected{
  background-color: lightblue;
}

button:disabled{
  color: gray;
  background-color: darkgray;
}